// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #556b2f;
$secondary : #7a6f38;
$accent    : #c28f2c;

$dark      : #11140f;
$dark-page : #11140f;
$page: #11140f;

$positive  : #4f7d35;
$negative  : #9d3030;
$info      : #3e7782;
$warning   : #b6842d;
